#section2{position: relative; z-index: 200; background: #fff; min-height: 100vh; transition: background .3s ease-in-out;}
#section2.on{background: transparent;}
.skill-list{}
.skill-list > ul{display: flex; flex-wrap:wrap; padding: 2.5em 0; border-top: 2px solid #222; border-bottom: 2px solid #222;}
.skill-list > ul > li{text-align: center;}
.skill-list .item svg{ width: 50%; height: auto; stroke-dashoffset: 60;}
.skill-list .item.on svg{animation: pieChart 2s linear forwards;}
.skill-list .circle-chart__circle{stroke: var(--yellow);}
.skill-list .circleTitle{font-weight: 700; fill: #222;}
.skill-list .item .txt{display: block; margin-top: 10px; font-weight: 700; font-size: 15px;}

@keyframes shake {
  0%{transform: rotate(0);}
  50%{transform: rotate(10deg);}
  100%{transform: rotate(0);}
}
@keyframes pieChart {
  0%{stroke-dashoffset: 60;}
  100%{stroke-dashoffset: 0;}
}


@media (max-width : 768px) {
  #section2 {
      min-height: auto;
  }
}
@media (max-width : 480px) {
  .skill-list .item .ico {
      width: 110px;
  }
}
