.section{width: 100%;}
.layout{padding-top: 100px; padding-bottom: 80px;}

.main-tit{font-size: 40px; font-size: 2.5em; font-weight: 900; color: #333; margin-bottom: 1em;}
.main-tit >span{box-shadow: inset 0 -0.4em 0 var(--yellow);line-height: 1.2;}
