#section1{position: relative; z-index: 200; background: #fff; min-height: 100vh;}
.headline{text-align: center; border-bottom: 1px solid #333; position: relative; overflow: hidden; height: 500px;}
.headline p{font-size: 6vw; font-weight: 900; color: #333; letter-spacing: 3px; white-space: nowrap; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)}
.intro{padding-top: 3em; padding-bottom: 3em; display: flex; flex-wrap: wrap; align-items: center;}
.intro .img{width: 500px; margin-right: 2.5em;}

.intro .cont{width: 100%; flex: 1;}
.intro .tit{font-weight: 700; font-size: 30px; font-size: 1.875em; margin-bottom: 1em; color: #333;}
.intro .desc{word-break: keep-all;}

@media (max-width : 1200px) {
    .headline p {
        font-size: 10vw;
    }
}
@media (max-width : 1024px) {
    .intro .img {
        width: 100%;
        text-align: center;
        margin-bottom: 2.5em;
    }

}
@media (max-width : 768px) {
    #section1 {
        min-height: auto;
    }

    .headline {
        height: 300px;
    }


}